/* --------------------------------------------------------
Style Sheet for CZU eShop

version: 1.4
last modified: 23.11.2020
author: David Olžbut, David Pilař
----------------------------------------------------------*/
html, body{
    height: 100%;
    width: 100%;
}
body{
    margin: 0 auto;
    background-color: #eee;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.42857143;
    color: #333;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
p{
    font-size: 1.1em;
}
h1{
    font-size: 2.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h2{
    font-size: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h3{
    font-size: 1.25em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-fluid{
    max-width: 2144px;
    width: 100%;
    margin:0 auto;
}

header {
    display: flex;
}

.nav-logo {
    padding: 3px 0 3px 15px;
    margin-left: 20px;
}

.nav-logo img{
    max-height: 40px;
    max-width: 40px;
    margin-top: 10px;
    /* float: left; */
    position: relative;
}

.top{
    width: 100%;
    padding-top: 60px;
    margin-top: -60px;
}
.intro {
    background: url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    text-transform: uppercase;
    max-height: 1500px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.intro .filter {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
}
.intro-text{
    max-width: 650px;
    margin: 0 auto;
    padding-top: 30vh;
    color: #fff;
    position: relative;
}
.intro-text .underline-h1 {
    max-width: 400px;
    background: #fff;
    height: 3px;
    margin: 0 auto;
}
.intro-text p {
    font-size: 1.4em;
    margin-top: 15px;
    padding: 0 30px;
}
.button-intro{
    color: #fff;
    margin: 50px;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.3s;
    border: 1px solid #fff;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}
.underline {
    margin: 0 auto;
    width: 120px;
    height: 3px;
    background: #000;
    margin-bottom: 60px;
}
.footer {
    background: #3B4856;
    color: #fff;
    min-height: 50px;
}
.footer .container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}
.container .copyright {
    opacity: 0.6;
    position: relative;
    padding-top: 15px;
}

.bg-white {
    background: #fff;
    color: #000;
}

.bg-grey {
    background: #eee;
    color: #000;
}
.list{
    display: inline-block;
    margin: 0 auto;
    list-style-type: lower-alpha;
    text-align: left;
}
.grid-container{
    /*margin-top: 80px;*/
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.product{
    /*border: 1px solid #000;*/
    border-radius: 15px;
    background: #fff;
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.6);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.6);
    padding: 10px;
}

.product .underline {
    margin: 10px auto;
    width: 90%;
    height: 2px;
    background: #000;
}


.product img{
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.product .product-description{
    font-size: 1em;
}

.add-to-cart{
    color: #eee;
    font-size: 1.2em;
    margin: 50px 0 50px 0;
    transition: 0.3s;
    border: 1px solid #eee;
    background: #5cb85c;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
}
.product-description{
    font-size: 1em;
}

.shadow {
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.6);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.6);
}

/* Button styling */
.menu-toggle {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    font-size: 1em;
    color: #333;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    padding: 20px;
}

.menu-toggle:hover,
#main-menu-checkbox:focus ~ header .menu-toggle {
    color: #777;
    outline: none;
    background: #eee;
}

#main-menu-checkbox {
    position: absolute;
    left: -300vw; /* get it off the screen */
}

/*
    Offscreen menu - mobile 360px
*/
.main-menu {
    /* position: absolute; */
    right: -100%;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: right 0.3s ease,
    box-shadow 0.3s ease;
    z-index: 999;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
    -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
    box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #eee;
}

.main-menu a,
.main-menu .menu-close {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1.10em;
    color: #333;
    text-decoration: none;
}

.main-menu a:hover,
.main-menu a:focus,
.main-menu .menu-close:hover,
#main-menu-checkbox:focus ~ header .menu-close {
    background: #eee;
    text-decoration: underline;
}

.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

#main-menu-checkbox:checked ~ header .main-menu,
.main-menu[aria-expanded="true"] {
    right: 0;
    width: 360px;
    /* margin-left: 0; */
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

#main-menu-checkbox:checked ~ header .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}

#main-menu-checkbox:checked ~ header .main-menu ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
    margin-left: auto;
}

#main-menu-checkbox:checked ~ header .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0,0,0,.85);
    cursor: default;
}

@supports (position: fixed) {
    .main-menu,
    #main-menu-checkbox:checked ~ header .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
        position: fixed;
    }
}

/*
Larger screens
Horizontal menu
*/
@media (min-width: 768px) {
    .menu-toggle,
    .main-menu .menu-close,
    #main-menu-checkbox {
        display: none;
    }
    .container{
        max-width: 80%;
    }
    .main-menu {
        position: relative;
        top: auto;
        height: auto;
        overflow-y: auto;
        width: auto;
        margin: 0 20px 0 auto;
        right: auto;
    }

    .main-menu ul {
        display: flex;
        padding-top: 5px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto;
        width: auto;
        background: none;
    }

    .main-menu a {
        color: #333;
        border: 0;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        background: #eee;
        color: #777;
    }
}

.float{
    position:fixed;
    width:80px;
    height:80px;
    bottom:5vh;
    right:5vh;
    background-color:#5cb85c;
    color:#FFF;
    border-radius:50px;
    text-align:center;

    font-size: 2em;
    -moz-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.6);
    box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.6);
}

.my-float{
    margin-top:20px;
}
/* Basket styles */

#basket {
    margin: 0;
    padding-top: 1vh;
    max-width: 100%;
}

.basket_product {
    width: 100%;
    padding: 10px;
    text-align: left;
}

span.product_name {
    position: relative;
    text-align: left;
    display: flex;
}

.basket_products_container {
    margin: 2rem;
    width: auto;
}

.basket_items {
    width: 19em;
    margin: 0 auto;
}

span.product_amount {
    display: flex;
    position: relative;
}

span.product_price {
    display: flex;
    position: relative;
}

.basket_item {
    display: flex;
    align-items: start;
    padding-bottom: 20px;
}

.basket_product_image img {
    display: block;
    height: 6em;
}

.basket_item_details {
    text-align: left;
    padding: 0 0 0 10px;
    display: grid;
}

.basket_item_details span {
    font-size: 1rem;
}

.product_remove {
    color: #eee;
    font-size: 0.8em;
    margin: 0.5em 0;
    border: 1px solid #eee;
    background: #d9534f;
    display: inline-block;
    padding: 0.3em;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    max-width: 5em;
}

.basket_sumup {
    display: grid;
    margin: 1rem 0.5rem;
}

.basket_sumup a {
    color: #eee;
    font-size: 1em;
    margin: 0.5em auto;
    transition: 0.3s;
    border: 1px solid #eee;
    background: #5cb85c;
    display: inline-block;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}

/* Order styles */

.order_form_container {
    max-width: 23rem;
    margin: 0 auto;
}

.field {
    display: flex;
    margin: 0.3em 0;
}

.field_label {
    margin-right: auto;
}

.field_input {
    border-radius: 5px;
    border: 1px solid #ccc;
}